@import './mixins.scss';

.colors {
    color: #498C8A;
    color: #EAC435;
    color: #9649CB;
    color: #afbbf2;
    color: #d3fff3;
}
.fonts {
    font-family: 'Monomaniac One', sans-serif;
    font-family: 'Slackside One', cursive;
    font-family: 'Tsukimi Rounded', sans-serif;
}

body {
    background-color: #afbbf2;


#screen {
    position: relative;

    #title {
        font-family: 'Slackside One', cursive;
        font-size: clamp(2rem, 10vw, 3.5rem);
        text-align: center;
        color: #9649CB;
        margin: 20px auto;

    }

    #turn-info {
        font-family: 'Tsukimi Rounded', sans-serif;
        font-size: clamp(1.5rem, 10vw, 2rem);
        color: #498C8A;
        margin: 15px auto;
        text-align: center;
        width: clamp(250px, 60vw, 606px);

    }
    
    #start {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    
        button {
            font-family: 'Tsukimi Rounded', sans-serif;
            font-size: clamp(1.5rem, 10vw, 2rem);
            cursor: pointer;
            background-color: #afbbf2;
            border-radius: 15px;
            padding: 5px 10px;
            transition: all 0.3s ease-out;
        }
        button:hover {
            color: #EAC435;
            background-color: #d3fff3;
        }
    }
    
    #board-cover {
        position: absolute;
        width: clamp(295px, 93vw, 610px);
        height: clamp(295px, 93vw, 610px);
        z-index: 1;
    }

    #board {
        position: relative;
        margin: auto;
        display: grid;
        border: #498C8A;
        border-style: solid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: clamp(270px, 93vw, 610px);
        height: clamp(270px, 93vw, 610px);

        .tile {
            
            font-family: 'Monomaniac One', sans-serif;
            font-size: clamp(2rem, 16vw, 4rem);
            text-align: center;
            line-height: clamp(90px, 30vw, 200px);
            cursor: pointer;
            transition: background-color 0.5s ease-out;
        }
        .tile:hover {
            background-color: #d3fff3;
        }
    
        #tl {
            @include tile(1,2,1,2);
            user-select: none;
        }
        #tlCover {
            @include tileC(1,2,1,2);
            z-index: -1;
        }
        #tm {
            @include tile(2,3,1,2);
            user-select: none;
        }
        #tmCover {
            @include tileC(2,3,1,2);
            z-index: -1;

        }
        #tr {
            @include tile(3,4,1,2);
            user-select: none;
        }
        #trCover {
            @include tileC(3,4,1,2);
            z-index: -1;

        }
        #ml {
            @include tile(1,2,2,3);
            user-select: none;
        }
        #mlCover {
            @include tileC(1,2,2,3);
            user-select: none;
            z-index: -1;

        }
        #mm {
            @include tile(2,3,2,3);
            user-select: none;
        }
        #mmCover {
            @include tileC(2,3,2,3);
            user-select: none;
            z-index: -1;

        }
        #mr {
            @include tile(3,4,2,3);
            user-select: none;
        }
        #mrCover {
            @include tileC(3,4,2,3);
            user-select: none;
            z-index: -1;

        }
        #bl {
            @include tile(1,2,3,4);
            user-select: none;
        }
        #blCover {
            @include tileC(1,2,3,4);
            user-select: none;
            z-index: -1;
        }
        #bm {
            @include tile(2,3,3,4);
            user-select: none;
        }
        #bmCover {
            @include tileC(2,3,3,4);
            user-select: none;
            z-index: -1;

        }
        #br {
            @include tile(3,4,3,4);
            user-select: none;
        }
        #brCover {
            @include tileC(3,4,3,4);
            user-select: none;
            z-index: -1;

        }
    
    }

    }
}

