

@mixin tile($gcs, $gce, $grs, $gre) {
    grid-column-start: $gcs;
    grid-column-end: $gce;
    grid-row-start: $grs;
    grid-row-end: $gre;
    border: #498C8A;
    border-style: solid;
    width: clamp(90px, 30vw, 200px);
    height: clamp(90px, 30vw, 200px);
}

@mixin tileC($gcs, $gce, $grs, $gre) {
    grid-column-start: $gcs;
    grid-column-end: $gce;
    grid-row-start: $grs;
    grid-row-end: $gre;
    width: clamp(90px, 30vw, 200px);
    height: clamp(90px, 30vw, 200px);
}