.colors {
  color: #498C8A;
  color: #EAC435;
  color: #9649CB;
  color: #afbbf2;
  color: #d3fff3;
}

.fonts {
  font-family: "Monomaniac One", sans-serif;
  font-family: "Slackside One", cursive;
  font-family: "Tsukimi Rounded", sans-serif;
}

body {
  background-color: #afbbf2;
}
body #screen {
  position: relative;
}
body #screen #title {
  font-family: "Slackside One", cursive;
  font-size: clamp(2rem, 10vw, 3.5rem);
  text-align: center;
  color: #9649CB;
  margin: 20px auto;
}
body #screen #turn-info {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: clamp(1.5rem, 10vw, 2rem);
  color: #498C8A;
  margin: 15px auto;
  text-align: center;
  width: clamp(250px, 60vw, 606px);
}
body #screen #start {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
body #screen #start button {
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: clamp(1.5rem, 10vw, 2rem);
  cursor: pointer;
  background-color: #afbbf2;
  border-radius: 15px;
  padding: 5px 10px;
  transition: all 0.3s ease-out;
}
body #screen #start button:hover {
  color: #EAC435;
  background-color: #d3fff3;
}
body #screen #board-cover {
  position: absolute;
  width: clamp(295px, 93vw, 610px);
  height: clamp(295px, 93vw, 610px);
  z-index: 1;
}
body #screen #board {
  position: relative;
  margin: auto;
  display: grid;
  border: #498C8A;
  border-style: solid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: clamp(270px, 93vw, 610px);
  height: clamp(270px, 93vw, 610px);
}
body #screen #board .tile {
  font-family: "Monomaniac One", sans-serif;
  font-size: clamp(2rem, 16vw, 4rem);
  text-align: center;
  line-height: clamp(90px, 30vw, 200px);
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}
body #screen #board .tile:hover {
  background-color: #d3fff3;
}
body #screen #board #tl {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #tlCover {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  z-index: -1;
}
body #screen #board #tm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #tmCover {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  z-index: -1;
}
body #screen #board #tr {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #trCover {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  z-index: -1;
}
body #screen #board #ml {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #mlCover {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
  z-index: -1;
}
body #screen #board #mm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #mmCover {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
  z-index: -1;
}
body #screen #board #mr {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #mrCover {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
  z-index: -1;
}
body #screen #board #bl {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #blCover {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
  z-index: -1;
}
body #screen #board #bm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #bmCover {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
  z-index: -1;
}
body #screen #board #br {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  border: #498C8A;
  border-style: solid;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
}
body #screen #board #brCover {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: clamp(90px, 30vw, 200px);
  height: clamp(90px, 30vw, 200px);
  user-select: none;
  z-index: -1;
}

/*# sourceMappingURL=output.css.map */
